#  Basics OF Python

Topic to be covered--
-> intro to python
->variables and data types
->operators 
->predefined keyword
-> comments

types of comments
1. """  """
2. '''  ''' 
3.  #

In [1]:
#  print() syntax

print("jai ho")

jai ho

In [5]:
# type()  syntax

print(type("Skills"))

<class 'str'>

In [7]:
print(type(25))

<class 'int'>

In [9]:
print(type("25"))

<class 'str'>

In [11]:
print(type(3.4))

<class 'float'>

In [13]:
print(type(True))

<class 'bool'>

In [15]:
print(type(False))

<class 'bool'>

In [17]:
# prg to perform addition of two numbers
a=25
b=26
c=a+b
print(c)

51

In [19]:
print("c")

c

In [21]:
# Datatypes:

# 1. int - Integer eg: 25, 26, 27, 0, -1, -2, -3, 435
# 2. float - Floating point number eg: 25.5, 26.5, 27.5, 0.0, -1.0, -2.0, -3.0, 435.0
# 3. str - String eg: "PW Skills", "Python", "Data Science", "Machine Learning", "42", "432.3412"
# 4. bool - Boolean eg: True, False

In [23]:
 print(type("Darshan"))

<class 'str'>

In [25]:
x=5
y=10.45
print(x+y)

15.45

In [7]:
# Rules for writing variable names
# 1. Variable names should start with an alphabet or an underscore
# 2. Variable names should not start with a number
# 3. Variable names should not contain any special characters except underscore
# 4. Variable names are case-sensitive
# 5. Variable names should not be a pre-defined keyword

In [9]:
# Operators:

# 1. Arithmetic Operators
# + - Addition eg: 9+2
# - - Subtraction eg: 9-2
# * - Multiplication eg: 9*2
# / - Division eg: 9/2
# // - Floor Division eg: 9//2. this will return the quotient
# % - Modulus eg: 9%2 this will return the remainder
# ** - Exponent eg: 9**2 this will return the power

print(9+2) # 11
print(9-2) # 7
print(9*2) # 18
print(9/2) # 4.5
print(9//2) # 4
print(9%2) # 1
print(9**2) # 81

11
7
18
4.5
4
1
81

In [11]:
# 2. Comparison Operators

# > - Greater than eg: 9>2
# < - Less than eg: 9<2
# >= - Greater than or equal to eg: 9>=2
# <= - Less than or equal to eg: 9<=2
# == - Equal to eg: 9==2
# != - Not equal to eg: 9!=2

no1 = 9
no2 = 2
print(no1>no2) # 9>2 -> True
print(no1<no2) # 9<2 -> False
print(no1>=no2) # 9>=2 -> True
print(400<=400) # True
print(9==2) # False

True
False
True
True
False

In [13]:
# Real time examples of Comparison Operators

# Example 1
# Data validation in Financial Applications
yesterday_closing_price = 100
today_opening_price = 101
# Compare the yesterday's closing price with today's opening price
print(yesterday_closing_price>today_opening_price) # False

# Example 2
# Inventory Management System
current_stock = 100
minimum_required_stock = 50
# A store manager wants to check if the current stock is less than the minimum required stock
print(current_stock<minimum_required_stock) # False

# Example 3
employee_salary = 50000
average_salary = 60000
# HR wants to check if the employee salary is less than the average salary
print(employee_salary<average_salary) # True

# Example 4
# A student wants to check if he scored more than the passing marks
student_marks = 35
passing_marks = 40
print(student_marks>passing_marks) # False

# Example 5
room_temperature = 25
AC_temperature = 20
# Check if the room temperature is less than the AC temperature
print(room_temperature<AC_temperature) # False

False
False
True
False
False

In [25]:
# 3. Logical Operators
# and - Logical AND eg: True and True -> True, True and False -> False, False and True -> False, False and False -> False
# or - Logical OR eg: True or True -> True, True or False -> True, False or True -> True, False or False -> False
# not - Logical NOT eg: not True -> False, not False ->
# https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgS5-hYaqzi-oBlCgiaJOTtk4IsvNVrz8-tb4SeLY3AYyZs5Dbb-zOnjylK_Noynp0nN-CTMEahjpqvPuv5w0kMY4wSQDTcH5fXY77PGWMkux5IM73YQNVJzExJSZ7lqzyHv1-YhCT3xt71/s1600/LogicalOperators.png


# Example 1
# A student wants to check if he scored more than the passing marks and more than the average marks
student_marks = 35
passing_marks = 40
average_marks = 60
print(student_marks>passing_marks and student_marks>average_marks) # 35>40 and 35>60 -> False and False -> False

# Example 2
# Check if a person qualifies for a loan based on age and salary
age = 25
salary = 50000
min_age = 18
min_salary = 30000
print(age>min_age and salary>min_salary) # 25>18 and 50000>30000 -> True and True -> True

# Example 3
# Exployees get overtime if they work more than 8 hours and it is a weekend
hours_worked = 10
is_weekend = True
print(hours_worked>8 and is_weekend==True) # 10>8 and True==True -> True and True -> True

print(not(True)) # False
print(not(False)) # True

False
True
True
False
True

In [27]:
# 4. Assignment Operators
# = - Assignment Operator eg: a = 10
# += - Increment Operator eg: a+=10 -> a = a+10
# -= - Decrement Operator eg: a-=10 -> a = a-10
# *= - Multiplication Operator eg: a*=10 -> a = a*10
# /= - Division Operator eg: a/=10 -> a = a/10
# //= - Floor Division Operator eg: a//=10 -> a = a//10
# %= - Modulus Operator eg: a%=10 -> a = a%10
# **= - Exponent Operator eg: a**=10 -> a = a**10

a = 10
print(a) # 10
print(a+10) # 20
print(a) # 10

a = a+10 # a += 10
print(a) # 20

10
20
10
20

In [29]:
# 5. Membership Operators
# in - Membership Operator eg: "Python" in "Python Programming"
# not in - Membership Operator eg: "Java" not in "Python Programming"

print("Python" in "Python Programming") # True
print("Java" in "Python Programming") # False
print("D" in "Darshan") # True
print("d" in "Darshan") # False

# Real-time example of Membership Operators
# Example 1
valid_currencies = "USD INR EUR GBP JPY"
currency = "INR"

# Membership Check
is_valid_currency = currency in valid_currencies
print(is_valid_currency) # True

True
False
True
False
True




Home Work
Task 1: String Operations for Business Applications
Objective: Perform industry-relevant string operations.
Tasks:
Extract a customer's first name from a full name using slicing.
Verify if a given keyword exists in a product description.
Convert a user’s email address to lowercase for uniformity.
Replace a sensitive word in a financial statement with "****".
Find if a tracking ID contains the prefix "TRK".
Assume Data:
Full Name: "Alice Johnson"
Product Description: "This smartphone features a high-resolution display."
Email: "John.Doe@Company.com"
Sensitive Text: "Your password is 123456"
Tracking ID: "TRK987654"
Task 2: Arithmetic and Assignment Operators in Finance
Objective: Perform arithmetic operations for real-world calculations.
Tasks:
Calculate total salary after adding a bonus to an employee’s base salary.
Compute the total price of an order, given unit price and quantity.
Increase a bank balance by adding interest.
Find the remaining loan amount after a partial repayment.
Compute the total bill by applying a discount to an initial amount.
Assume Data:
Base Salary: 50000, Bonus: 5000
Unit Price: 250, Quantity: 4
Bank Balance: 10000, Interest: 500
Loan Amount: 75000, Repayment: 5000
Initial Bill: 2000, Discount: 200
Task 3: Comparison Operators in Business Applications
Objective: Compare values to validate business conditions.
Tasks:
Compare today's stock price with yesterday’s to check if it increased.
Verify if an employee's salary is greater than the company’s average.
Check if a customer’s age qualifies for a senior citizen discount.
Determine if a product’s weight is within acceptable limits.
Check if a student's exam score meets the passing requirement.
Assume Data:
Yesterday’s Stock Price: 150.75, Today’s Stock Price: 155.20
Employee Salary: 60000, Average Salary: 55000
Customer Age: 65, Discount Eligibility Age: 60
Product Weight: 505, Acceptable Range: 490-510
Exam Score: 75, Passing Marks: 40
Task 4: Logical Operators in Business Use Cases
Objective: Combine multiple conditions using logical operators.
Tasks:
Verify if a loan applicant meets both age and salary requirements.
Determine if a warehouse needs restocking based on low stock or high demand.
Check if an employee qualifies for overtime pay (weekend and extra hours).
Confirm if a transaction is fraudulent based on large amount or flagged account.
Validate if a patient requires emergency attention based on vitals.
Assume Data:
Loan Applicant: Age 30, Salary 60000, Required Age 25, Required Salary 50000
Stock: 15, Minimum 20, High Demand: True
Hours Worked: 10, Is Weekend: True
Transaction Amount: 5000, Average Spend: 1200
Patient Vitals: Heart Rate: 110, Oxygen Level: 89, Normal HR: <100, Normal O2: >90
Task 5: Membership Operators in Business Applications
Objective: Check for membership in predefined datasets.
Tasks:
Check if a currency code is valid for a banking system.
Validate if a user role exists in a system’s predefined access roles.
Verify if a flight’s airport code is recognized in an airline system.
Determine if a social media post contains a trending hashtag.
Confirm if a shipment tracking ID is active.
Assume Data:
Currency Codes: "USD INR EUR GBP JPY"
Access Roles: "Admin Manager Editor Viewer"
Airport Codes: "LAX JFK DXB HND"
Trending Hashtags: "#Tech #AI #DataScience"
Active Shipments: "TRK123 TRK456 TRK789"
Happy Learning